<%- include('partials/header.ejs') %>

  <%- include('partials/navbar.ejs') %>

<div class="md:w-[500px] md:mx-auto  mx-5 my-8 p-4  rounded-lg">
  <h1 class="mb-10 font-[600] text-2xl text-center">CONTACT</h1>
  <form action="/contact" method="post">
    <div class="mb-4">
      <label for="input-name" class="block text-sm font-medium ">Name</label>
      <input type="text" name="name" id="input-name" class="mt-1 p-2 w-full border rounded-lg shadow-md" required />
    </div>

    <div class="mb-4">
      <label for="input-email" class="block text-sm font-medium ">Email</label>
      <input type="email" name="email" id="input-email" class="mt-1 p-2 w-full border rounded-lg shadow-md" required />
    </div>

    <div class="mb-4">
      <label for="input-phone" class="block text-sm font-medium ">Phone Number</label>
      <input type="number" name="phone" id="input-phone" class="mt-1 p-2 w-full border rounded-lg shadow-md" />
    </div>

    <div class="mb-4">
      <label for="input-subject" class="block text-sm font-medium ">Subject</label>
      <select name="subject" id="input-subject" class="mt-1 p-2 w-full border rounded-lg shadow-md bg-white cursor-pointer">
        <option value="" hidden ></option>
        <option >Let's Talk</option>
        <option>Question</option>
        <option>Feedback</option>
      </select>
    </div>

    <div class="mb-4">
      <label for="input-message" class="block text-sm font-medium ">Your Message</label>
      <textarea rows="5" cols="10" name="message" id="input-message" class="mt-1 p-2 w-full border rounded-lg shadow-md"></textarea>
    </div>

    <div class="flex justify-end">
      <button type="submit" class="px-4 py-2 bg-[orangered] text-white font-semibold rounded-lg">
        Submit
      </button>
    </div>
  </form>
</div>




<%- include('partials/footer.ejs') %>